.Card   
  border 1px solid #f00
  background 	#D3D3D3
  border 5px solid black
  box-shadow 0 0 10px rgba(white,.8)
  border-radius .5em
  width: 150px
  padding .5em
  
  &-description
      background white
      padding .5em
      font-size: 12px
      margin-bottom .5em
      border 2px solid black
    
  &-name
      color black
      text-transform uppercase
      margin 0 0 .5em 0
      font-size 1em
    
  &-image 
      width 100%
      
  &-attack
      background black
      color white
      font-size: .7em
      
    
    